<div class="div">
  <div
    class="frame-1"
    style="
      background: url(frame-10.png) center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <img
      class="unsplash-d-eg-e-mz-9394-o"
      src="unsplash-d-eg-e-mz-9394-o0.png"
    />
  </div>
  <div class="word-friends">Word Friends</div>
  <div class="log-in">log in</div>
  <div class="password">password</div>
  <div class="rectangle-3358"></div>
  <div class="rectangle-3359"></div>
  <div class="forgot-password">forgot password?</div>
  <div class="frame-10">
    <div class="ellipse-1"></div>
    <div class="log-in2">
      LOG
      <br />
      IN
    </div>
  </div>
</div>
