<div class="div">
  <div class="ai">AI 친구와 대화를 통해 단어를 배워보세요</div>
  <div class="div2">주제를 선택하세요</div>
  <div class="frame-2">
    <img class="school-2602414-1" src="school-2602414-10.png" />
  </div>
  <div class="frame-3"></div>
  <div class="frame-4">
    <img class="livestock-3397536-1" src="livestock-3397536-10.png" />
  </div>
  <div class="frame-5">
    <img class="diet-706195-1" src="diet-706195-10.png" />
  </div>
  <div class="frame-6">
    <img class="weather-app-7059294-1" src="weather-app-7059294-10.png" />
  </div>
  <img class="family-4542234-1" src="family-4542234-10.png" />
  <div class="school">School</div>
  <div class="family">Family</div>
  <div class="animal">Animal</div>
  <div class="food">Food</div>
  <div class="weather">Weather</div>
  <div class="home">
    <div class="hello-maria">Hello, Maria!</div>
  </div>
  <div class="group-138">
    <div class="home2">
      <div class="hello-maria">Hello, Maria!</div>
    </div>
    <div class="today">
      <div class="frame-136"></div>
    </div>
    <div class="home3">
      <div class="today2">Today</div>
    </div>
    <div class="home4">
      <div class="home5">
        <div class="home6">Home</div>
      </div>
    </div>
    <div class="log-out">
      <img class="lucide-log-out" src="lucide-log-out0.svg" />
    </div>
  </div>
</div>
