<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="div">
    <div class="div2">오늘 공부한 단어와 관련된 영상을 함께 볼까요?</div>
    <div class="group-9">
      <div class="frame-9">
        <div class="frame-14">
          <div class="apple">apple</div>
        </div>
      </div>
      <div class="frame-13">
        <div class="frame-14">
          <div class="bread">bread</div>
        </div>
      </div>
      <div class="frame-11">
        <div class="frame-14">
          <div class="banana">banana</div>
        </div>
      </div>
      <div class="frame-142">
        <div class="frame-14">
          <div class="cheese">cheese</div>
        </div>
      </div>
      <div class="frame-17">
        <div class="frame-14">
          <div class="chicken">chicken</div>
        </div>
      </div>
      <div class="frame-10">
        <div class="frame-14">
          <div class="carrot">carrot</div>
        </div>
      </div>
      <div class="frame-15">
        <div class="frame-14">
          <div class="ice-cream">ice cream</div>
        </div>
      </div>
      <div class="frame-12">
        <div class="frame-14">
          <div class="pizza">pizza</div>
        </div>
      </div>
      <div class="frame-16">
        <div class="frame-14">
          <div class="juice">juice</div>
        </div>
      </div>
      <div class="frame-18">
        <div class="frame-14">
          <div class="milk">milk</div>
        </div>
      </div>
    </div>
    <div class="frame-19">
      <div class="frame-27">
        <div class="div3">단어를 클릭해 영상을 시청하세요.</div>
      </div>
    </div>
    <div class="group-138">
      <div class="home">
        <div class="hello-maria">Hello, Maria!</div>
      </div>
      <div class="today">
        <div class="frame-136"></div>
      </div>
      <div class="home2">
        <div class="today2">Today</div>
      </div>
      <div class="home3">
        <div class="home4">
          <div class="home5">Home</div>
        </div>
      </div>
      <div class="log-out">
        <img class="lucide-log-out" src="lucide-log-out0.svg" />
      </div>
    </div>
  </div>
  
</body>
</html>