<div class="div">
  <div class="let-s-start-talking">
    대화를 시작해봐요
    <br />
    Let’s start talking!
  </div>
  <div class="start">Start 버튼을 눌러 대화를 시작하세요</div>
  <div class="frame-10">
    <div class="ellipse-1"></div>
    <div class="start2">Start</div>
  </div>
  <div class="group-138">
    <div class="home">
      <div class="hello-maria">Hello, Maria!</div>
    </div>
    <div class="today">
      <div class="frame-136"></div>
    </div>
    <div class="home2">
      <div class="today2">Today</div>
    </div>
    <div class="home3">
      <div class="home4">
        <div class="home5">Home</div>
      </div>
    </div>
    <div class="log-out">
      <img class="lucide-log-out" src="lucide-log-out0.svg" />
    </div>
  </div>
</div>
